
    html {
        height: 100%;
    }
    body{
        height: 100%;
        width: 100%;
        font-family: sans-serif;
        background-image: url(./../public/ssbg1.png); 
        background-size: cover;
      } 

      #border{
        background-image: url(./../public/border1small\ \(400\ ×\ 500\ px\).png);
        background-repeat: no-repeat;
        width: 400px;
        height: 500px;
        position: absolute;
        top: 50%;
        left: 50.4%;
        transform: translate(-50%, -50%);
          
      }

      #box {
        color: #cfc192;
        font-size: small;
        letter-spacing: 1px;
        line-height: 1.8;
        word-spacing: 1px;
        text-align: center;
        position: absolute;
        top: 40%;
        left: 50%;
        width: 250px;
        height: 300px;
        padding: 5px;
        transform: translate(-50%, -50%);
        background-color: #2E2E2E;
      }

      #goback{
          padding-top: 10%;
          background-color: #2E2E2E;
      }

      a{
          color: #cfc192;
          text-decoration: none;
      }

      a:hover{
          color: white;
      }

      .imageapiborder{
        background-image: url(./../public/frame3.png);
        background-repeat: no-repeat;
        width: 470px;
        height: 700px;
        position: absolute;
        top: 50%;
        right: 45%;
        transform: translate(-50%, -50%);
      }

    #galaxy img{
        border-radius: 50%;
        margin-top: 20.5%;
        margin-left: 16.5%;
        width: 70%;
    }




/* Styling For Tablet  */

@media only screen and (min-width:650px) {

  #border{
    background-image: url(./../public/tabletsizeborder.png);
    background-repeat: no-repeat;
    width: 325px;
    height: 500px;
    left: 65%;
  }
  
  #box {
    font-size: small;
    letter-spacing: .5px;
    line-height: 1.3;
    word-spacing: .5px;
    top: 55%;
    left: 55%;
    width: 200px;
    height: 400px;
  }

  .imageapiborder{
    background-image: url(./../public/frame3350px\ \(1\).png);
    width: 300px;
    height: 300px;
    position: absolute;
    top: 45%;
    right: 45%;
  }

#galaxy img{
    
    margin-top: 14%;
    margin-left: 33%;
    width: 50%;
}

}


/* Styling for desktop */

@media only screen and (min-width:992px) {


  #border{
    background-image: url(./../public/border1.png);
    background-repeat: no-repeat;
    width: 470px;
    height: 700px;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
      
  }

  #box {
    color: #cfc192;
    font-size: large;
    letter-spacing: 1px;
    line-height: 1.8;
    word-spacing: 1px;
    text-align: center;
    position: absolute;
    top:45%;
    left: 45%;
    width: 320px;
    height: 500px;
    padding: 5px;
    transform: translate(-50%, -50%);
    background-color: #2E2E2E;
  }

  #goback{
      padding-top: 10%;
      background-color: #2E2E2E;
  }

  a{
      color: #cfc192;
      text-decoration: none;
  }

  a:hover{
      color: white;
  }

  .imageapiborder{
    background-image: url(./../public/frame3.png);
    background-repeat: no-repeat;
    width: 470px;
    height: 700px;
    position: absolute;
    top: 50%;
    right: 45%;
    transform: translate(-50%, -50%);
  }

#galaxy img{
    border-radius: 50%;
    margin-top: 20.5%;
    margin-left: 16.5%;
    width: 70%;
}








}


